:root {
  --lightBlue2: #97c7f0;
  --lightBlue: #e9f2fa;
  --primary: #0068b5;
  --padding: 12px;
  --greyBorder: #f7f7f7;
  --grey: #7b7c80;
  --white: #ffff;
  --fontSize: 12px;
  --menuFontSizze: 40px;
  --borderRadius: 0.5em;
  --boxShadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  --containerPadding: 16px 80px 56px 80px;
  /*card styles*/
  --cardPadding: 30px 20px 20px 20px;
  --cardGap: 32px;
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.colorWhite {
  color: var(--white);
}

.fontWeight500 {
  font-weight: 400;
}

.title {
  font-size: 24px;
  color: var(--grey);
}

.menu-title {
  text-align: center;
  color: #0068b5;
  font-size: var(--menuFontSizze);
  font-weight: 500;
  margin-bottom: 20px;
}

.subtext {
  text-align: center;
  color: var(--grey);
  font-size: 24px;
}

.text {
  font-size: 12px;
  line-height: 90%;
}
.logo {
  font-size: 64px;
}
.bg {
  background-color: var(--lightBlue);
  min-height: 100vh;
  overflow-y: scroll;
}

.container1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: calc(2 * var(--borderRadius));
  border: var(--greyBorder) solid;
  /* box-shadow: var(--boxShadow); */
  width: 80%;
  height: fit-content;
  min-height: 80%;
  align-self: center;
  box-sizing: border-box;
  position: relative;
  padding: var(--containerPadding);
  padding-top: 56px;
  gap: 30px;
}

.cards-container {
  background-color: #ffff;
  align-items: center;
  gap: var(--cardGap);
}

.card {
  box-shadow: var(--boxShadow);
  border-radius: calc(var(--borderRadius) / 2);
  min-height: fit-content;
  width: fit-content;
  padding: var(--cardPadding);
  padding-bottom: 20px;
  border: var(--greyBorder);
  align-items: center;
  gap: var(--cardGap);
  flex: 0 0 29.3333%;
}

.card-item {
  flex-grow: 1;
  align-items: center;
  gap: calc(var(--cardGap) / 2);
  min-width: 200px;
  max-width: 200px;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 30.333333%;
  flex-wrap: wrap;
}

.button-error {
  background: var(--secondary);
  border-radius: calc(var(--borderRadius) / 2);
  border: solid black;
  padding: 12px;
  color: #fdfdfd;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;

  height: var(--inputHeight);
  border-color: transparent;
  outline: none;
  transition: 0.3s;
  text-align: center;
  max-width: 400px;
  min-width: 90%;
}

.card-item-button {
  padding: 0.3rem;
}
/* text */
/* text */
@media only screen and (max-width: 800px) {
  .menu-title {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .subtext {
    font-size: 12px;
  }
}
@media only screen and (max-width: 800px) {
  .container1 {
    gap: 15px;
    padding: 20px 5px;
    padding-bottom: 30px;
    width: 100%;
    /* margin-top: 300px; */
  }
  .cards-container {
    gap: calc(var(--cardGap) / 2);
    margin: 0;
  }
  .card {
    padding: 0;
    min-height: fit-content;
    width: 100%;
    gap: 10px;
    padding: 10px 20px;
  }

  .flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 40%;
    flex-wrap: wrap;
    gap: 15px;
  }

  .card-item {
    font-size: 10px;
    border-radius: 5px;
    min-width: max-content;
    padding: 0;
    min-width: 100px;
    font-size: 10px;
    gap: 10px;
  }

  .card-item-button {
    padding: 0.1rem;
  }

  .title {
    font-size: 12px;
  }
}
@media only screen and (max-width: 300px) {
  .container1 {
    gap: 15px;
    padding: 10px;
    padding-bottom: 30px;
    width: 100%;
    /* margin-top: 300px; */
  }
  .cards-container {
    margin: 0;
  }
  .card {
    min-height: fit-content;
    width: fit-content;
    gap: 10px;
    padding: 10px 10px;
  }

  .flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 40%;
    flex-wrap: wrap;
    gap: 10px;
  }

  .card-item {
    font-size: 10px;
    border-radius: 5px;
    min-width: max-content;
    padding: 0;
    min-width: 100px;
    font-size: 10px;
    gap: 10px;
  }

  .card-item-button {
    padding: 0.1rem;
  }

  .title {
    font-size: 12px;
  }
}
